
*.pyc
*untitled*.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/setup.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPResso2Align.c
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/.gitattributes
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build.sh
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/__init__.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPResso2Align.so
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoBatchCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoCompareCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoCOREResources.c
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoCOREResources.so
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoMultiProcessing.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoPlot.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoPooledCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoPooledWGSCompareCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoReport.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoShared.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/CRISPRessoWGSCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/EDNAFULL
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/filterFastqs.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/templates/batchReport.html
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/templates/CRISPResso_justcup.png
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/templates/favicon.ico
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/templates/layout.html
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/build/lib.linux-x86_64-2.7/CRISPResso2/templates/report.html
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2.egg-info/dependency_links.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2.egg-info/entry_points.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2.egg-info/PKG-INFO
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2.egg-info/requires.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2.egg-info/SOURCES.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2.egg-info/top_level.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/__init__.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPResso2Align.c
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPResso2Align.pyx
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoBatchCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoCompareCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoCOREResources.c
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoCOREResources.pyx
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoMultiProcessing.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoPlot.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoPooledCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoPooledWGSCompareCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoReport.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoShared.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/CRISPRessoWGSCORE.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/EDNAFULL
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/filterFastqs.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/README
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/templates/batchReport.html
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/templates/CRISPResso_justcup.png
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/templates/favicon.ico
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/templates/layout.html
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2/templates/report.html
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPResso2_router.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/crispresso_schematic.png
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPRessoBatch.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPRessoCompare.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPRessoPooled.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPRessoPooledWGSCompare.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/CRISPRessoWGS.py
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/dist/CRISPResso2-2.0.23-py2.7-linux-x86_64.egg
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/Dockerfile
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/INSTALLATION_INSTRUCTIONS.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/LICENSE.txt
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/MANIFEST.in
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/meta.yaml
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/README.md
MiSeq/41587_2019_32_MOESM2_ESM/CRISPResso2-2.0.23_NBT/setup.cfg
